<div class="text-center">
  <div class="row">
  <div "col-xs-12">
<h2><em>GREED: THE GAMESHOW</em></h2>
</div>
</div>
<div id="game">
  <%= render partial: "game", locals: { account: @latest_game } %>
</div>
</div>